{% extends "logged_base.html" %}

{% block app_content %}
	<div class="row mt-4">
		<div class="col">
			<button type=button class="btn btn-info" onclick="window.location.href='/location'">Location</button>
		</div>
		<div class="col">
			<button type=button class="btn btn-info" onclick="window.location.href='/stats'">User Stats</button>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			<button type=button class="btn btn-info" onclick="window.location.href='/dump'">Dump API Data</button>
		</div>
		<div class="col">
			<button type=button class="btn btn-info" onclick="window.location.href='/test'">Utility Test</button>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			<button type=button class="btn btn-info" onclick="window.location.href='/concorde'">Nearest Concorde</button>
		</div>
		<div class="col">
			<button type=button class="btn btn-info" onclick="window.location.href='/searchcontracts'">Search Contracts</button>
		</div>
	</div>
{% endblock %}
